---
permalink: /what-we-do/class-coaching/

title: "Programs: [Class Coaching]"

skills:
  "Curiosity & Innovation": "Students learn to brainstorm, prototype, test, and improve their robots using creative problem<span class='d-font'>-</span>solving approach. They also cultivate a love for asking questions, trying new things, and pushing the limits of what’s possible. [icon_settings_colors.png]"
  "Teamwork": "Students build a solid foundation in logic<span class='d-font'>-</span>based coding through fun, interactive robots. They learn to break down complex challenges and find creative, tech<span class='d-font'>-</span>powered solutions. [icon_settings_colors.png]"
  "Presentation Hour": "Students get a presentation moment where they practice sharing their ideas, designs, and outcomes <span class='d-font'>-</span><span class='d-font'>-</span> building public speaking skills and confindence.[icon_settings_colors.png]"
  "STEM Courses": "Students practice their mathematics with measurements, ratios, angles and other data. Students explore the physics behind smooth and powerful robot motion using with gears. [icon_settings_colors.png]"
pricing:
  "R300<span class='d-font'>/</span>Month": "Enjoy a robotics every single week. The regularity of the classes create steady growth, perfect for young engineers ready to commit. A consistent and exciting learning routine that keeps kids engaged and improving all week long.[icon_settings_colors.png]"
  "Free 1st Class": "Is your child showing curiosity for STEM? Book a demo class for your child. They will join the group of learners in the everyday classes and gain a hands-on introduction to our world of robotics.[icon_settings_colors.png]"
  
scripts: "off"
---
		<main>
			{% include components/sections/header.html %}
			{% include components/sections/banner.html %}
			
			{% include components/sections/pts_highlight.html %}
			{% include components/sections/pts_pricing.html %}
			
			{% include components/sections/pgms_highlight.html %}
			{% include components/sections/footer.html %}
		</main>