			<section class="banner"><div class="banner_wrap d-midWrap">
				<h3 class="banner-title">{{ page.title | split: "[" | first }} <span class="banner-title-span">{{ page.title | split: "[" | last | remove: "]" }}</span></h3>{% if page.slug == "welcome" %}
				<p class="banner-text">Our class coachings, for Grade-R to Grade 12, are hands-on robotics projects that spark creativity and innovation. Come and start building the future one robot at a time.</p>
				
				<a href="/contact-us/" class="banner-button u-cta">Join a Class Today<span class="d-font">!</span></a>{% endif %}
			</div></section>