			<section class="ctc_newsletter"><div class="d-midWrap">
				<h5 class="ctc_newsletter-title">Subscribe to Monthly Whatsapp Updates?</h5>
				<p class="u-sectionText">Get monthly Whatsapp updates on upcoming events, course openings, robotics tips, and student highlights. No spam, just sparks of inpiration delivered straight to your phone.</p>
				
				<form class="ctc_newsletter-form">
					<input type="text" class="ctc_newsletter-form-input u-input" placeholder="Enter full name:" />
					<input type="tel" class="ctc_newsletter-form-input u-input" placeholder="Enter whatsapp number:" />
					
					<input type="submit" class="ctc_newsletter-form-submit u-cta" value="Subscribe" />
				</form>
			</div></section>