			<section class="ctc_highlight u-section"><div class="d-midWrap">
				<h3 class="u-sectionTitle">Reach out to <span class="u-sectionTitle-span">the team</span> <span class="u-sectionTitle-brand"><img src="/assets/images/logo.png" /></span></h3>
				<p class="u-sectionText">Got questions, ideas, or ready to start your robotics journey? You’ve come to the right place; we’d love to hear from you. One message is all it takes to spark a new adventure<span class="d-font">!</span></p>
				
				<div class="ctc_highlight-content">
					<div class="ctc_highlight-content-div">
						<img src="/assets/images/icon_3d-printing_color.png" class="ctc_highlight-content-div-icon" />
						
						<span class="ctc_highlight-content-div-p">Send us an email for collaboration.</span>
						<span class="ctc_highlight-content-div-span">info<span class="d-font">@</span>sparkswillfly.co.za</span>
					</div>
					<div class="ctc_highlight-content-div">
						<img src="/assets/images/icon_3d-printing_color.png" class="ctc_highlight-content-div-icon" />
						
						<span class="ctc_highlight-content-div-p">Call or Whatsapp today<span class="d-font">!</span></span>
						<span class="ctc_highlight-content-div-span"><span class="d-font">+</span>27 68 82 13 022</span>
					</div>
					<div class="ctc_highlight-content-div">
						<img src="/assets/images/icon_3d-printing_color.png" class="ctc_highlight-content-div-icon" />
						
						<span class="ctc_highlight-content-div-p">Request a meetup directly with our founder. He is always open for a chat with everyone.</span>
						<span class="ctc_highlight-content-div-span">Tshepiso Keoagile</span>
					</div>
				</div>
				<!--
				<ul class="ctc_highlight-list">{% for file in site.data.ctc_highlight %}
					<li class="ctc_highlight-list-item"><div class="ctc_highlight-div">{% for data in file %}
						<video class="ctc_highlight-div-video" controls preload="none" loading="lazy">
							<source src="/assets/videos/sample.mp4" type="video/mp4" />
						</video>
						<h5 class="ctc_highlight-div-title">{{ data[1] }}</h5>
					{% endfor %}</div></li>{% endfor %}
				</ul>-->{% if page.slug != "contact" %}
				
				<br />
				<a href="/contact/" class="u-cta">Contact Us</a>{% endif %}
			</div></section>