			<section class="ctc_registration u-section"><div class="d-midWrap">
				<h3 class="u-sectionTitle">Register for your <span class="u-sectionTitle-span">robotics training</span> <span class="u-sectionTitle-brand"><img src="/assets/images/logo.png" /></span></h3>
				<p class="u-sectionText">Take the leap from curiosity to creation; register today<span class="d-font">!</span> Sign up for hands<span class='d-font'>-</span>on robotics classes that equip you with the skills to build, code, and compete. Let’s get you started; your robot is waiting.</p>
				
				<form class="ctc_registration-form">
					<!--
					<h5 class="ctc_registration-form-title">Sample Registration Form</h5>
					-->
				
					<fieldset class="ctc_registration-form-fieldset">
						<div class="ctc_registration-form-fieldset-box">
							<span class="ctc_registration-form-fieldset-box-label u-input-label">Student’s First Name:</span>
							<input type="text" class="ctc_registration-form-fieldset-box-input u-input" />
						</div>
						<div class="ctc_registration-form-fieldset-box">
							<span class="ctc_registration-form-fieldset-box-label u-input-label">Student’s Last Name:</span>
							<input type="text" class="ctc_registration-form-fieldset-box-input u-input" />
						</div>
					</fieldset>
					
					<fieldset class="ctc_registration-form-fieldset">
						<div class="ctc_registration-form-fieldset-box">
							<span class="ctc_registration-form-fieldset-box-label u-input-label">Grade Level:</span>
							<input type="text" class="ctc_registration-form-fieldset-box-input u-input" />
						</div>
						<div class="ctc_registration-form-fieldset-box">
							<span class="ctc_registration-form-fieldset-box-label u-input-label">School Attending:</span>
							<input type="text" class="ctc_registration-form-fieldset-box-input u-input" />
						</div>
					</fieldset>
					
					<fieldset class="ctc_registration-form-fieldset">
						<div class="ctc_registration-form-fieldset-box">
							<span class="ctc_registration-form-fieldset-box-label u-input-label">Program of Interest:</span>
							<select class="ctc_registration-form-fieldset-box-select u-select">
								<option>Class Coaching: R999</option>
								<option>Class Coaching Demo: Free</option>
								<option>Homeschool Tutoring: R999</option>
								<option>Private Workshops: R999</option>
							</select>
						</div>
						<div class="ctc_registration-form-fieldset-box">
							<span class="ctc_registration-form-fieldset-box-label u-input-label">Skill Level:</span>
							<select class="ctc_registration-form-fieldset-box-select u-select">
								<option>Pro</option>
								<option>Intermediate</option>
								<option>Beginner</option>
							</select>
						</div>
					</fieldset>
					
					<fieldset class="ctc_registration-form-fieldset">
						<div class="ctc_registration-form-fieldset-box">
							<span class="ctc_registration-form-fieldset-box-label u-input-label">Parent<span class="d-font">/</span>Guardian’s Name:</span>
							<input type="text" class="ctc_registration-form-fieldset-box-input u-input" />
						</div>
						<div class="ctc_registration-form-fieldset-box">
							<span class="ctc_registration-form-fieldset-box-label u-input-label">Parent<span class="d-font">/</span>Guardian’s Phone Number:</span>
							<input type="text" class="ctc_registration-form-fieldset-box-input u-input" />
						</div>
					</fieldset>
					
					<fieldset class="ctc_registration-form-fieldset">
						<div class="ctc_registration-form-fieldset-box">
							<span class="ctc_registration-form-fieldset-box-label u-input-label">Additional Details:</span>
							<textarea class="ctc_registration-form-fieldset-box-textarea u-textarea"></textarea>
						</div>
					</fieldset>
				
					<!--
					<fieldset class="ctc_registration-form-fieldset">
						<span class="ctc_registration-form-span">A bit about you:</span>
						
						<select class="ctc_registration-form-select">
							<option>Parent</option>
							<option>Student</option>
						</select>
						<input type="text" class="ctc_registration-form-input" placeholder="First name:" />
						<input type="text" class="ctc_registration-form-input" placeholder="Last name:" />
					</fieldset>
					
					<fieldset class="ctc_registration-form-fieldset">
						<span class="ctc_registration-form-span">Who are you registering for:</span>
						
						<select class="ctc_registration-form-select">
							<option>Child</option>
							<option>Adult</option>
						</select>
						<input type="text" class="ctc_registration-form-input" placeholder="First name:" />
						<input type="text" class="ctc_registration-form-input" placeholder="Last name:" />
					</fieldset>
					
					<fieldset class="ctc_registration-form-fieldset">
						<span class="ctc_registration-form-span">Program Interested in:</span>
						
						<select class="ctc_registration-form-select">
							<option>One-on-One Tutoring</option>
							<option>Class Coaching</option>
							<option>Private Workshops</option>
						</select>
						<select class="ctc_registration-form-select">
							<option>Custom Robotics Projects and Prototyping</option>
							<option>STEM Curriculum for Business</option>
							<option>Hands-on Training in 3D Printing and Circuit Design</option>
							<option>In-House and Global Robotics Tournaments</option>
							<option>Summer School and Holiday Bootcamps</option>
							<option>Demo Events for Schools and Businesses</option>
							<option>Afterschool and Weekend Programs</option>
						</select>
						<input type="text" class="ctc_registration-form-input" placeholder="AAA:" />
					</fieldset>
					
					<fieldset class="ctc_registration-form-fieldset">
						<span class="ctc_registration-form-span">Preferred Method of Contact:</span>
						
						<select class="ctc_registration-form-select">
							<option>Phone</option>
							<option>Email</option>
						</select>
						<input type="text" class="ctc_registration-form-input" placeholder="Phone Number:" />
						<input type="text" class="ctc_registration-form-input" placeholder="Email Address:" />
					</fieldset>
					
					<fieldset class="ctc_registration-form-fieldset">
						<span class="ctc_registration-form-span">Any additional details to share:</span>
						
						<textarea class="ctc_registration-form-textarea"></textarea>
					</fieldset>
					-->
					
					<input type="submit" class="u-cta" value="Register Today" />
				</form>
			</div></section>