			<header class="header d-midWrap">
				<figure class="m-logo">
					<div class="m-logo-robot u-mascot">{% include components/robot-svg.svg %}</div>
					<h1 class="m-logo-title">Sparks Will Fly</h1>
					<h2 class="m-logo-subtitle">Educational Robotics</h2>
				</figure>
				
				<div class="d-spacer"></div>
				<aside class="header-aside">
					<div class="header-aside-div">
						<a href="mailto:info@sparkswillfly.co.za" class="header-aside-div-a">info<span class="d-font">@</span>sparkswillfly.co.za</a>
						<span class="header-aside-div-span">Send every detail<span class="d-font">!</span></span>
					</div>
					<div class="header-aside-div">
						<a href="mailto:info@sparkswillfly.co.za" class="header-aside-div-a"><span class="d-font">+</span>27 65 508 0531</a>
						<span class="header-aside-div-span">Call us today<span class="d-font">!</span></span>
					</div>
				</aside>
				
				<label for="chbx4menu" class="header-nav-button">Menu</label>
				<input type="checkbox" id="chbx4menu" name="chbx4menu" />
				<nav class="header-nav d-midWrap">
					<span class="header-nav-item"><a href="/" class="header-nav-item-a">HOME</a></span>
					<span class="header-nav-item"><a href="/about-us/" class="header-nav-item-a">ABOUT US</a></span>
					<span class="header-nav-item"><a href="/what-we-do/" class="header-nav-item-a">WHAT WE DO</a></span>
					<span class="header-nav-item"><a href="/contact-us/" class="header-nav-item-a">CONTACT US</a></span>
					
					<span class="header-nav-item"><a href="/robot-olympiad/" class="header-nav-item-a">ROBOT OLYMPIAD</a></span>
				</nav>
			</header>