			<section class="olp_blog u-section"><div class="d-midWrap">
				<h3 class="u-sectionTitle">Buy courses with the coolest <span class="u-sectionTitle-span">robotics projects</span> <span class="u-sectionTitle-brand"><img src="/assets/images/logo.png" /></span></h3>
				<p class="u-sectionText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				
				<ul class="olp_blog-list">{% for file in site.data.olp_blog %}
					<li class="olp_blog-list-item"><div class="olp_blog-div">{% for data in file %}
						<img src="/assets/images/{% for content in data[1] %}{{ content.thumbnail }}{% endfor %}" class="olp_blog-div-img" />
						<span class="olp_blog-div-date">{% for content in data[1] %}{{ content.date }}{% endfor %}</span>
						<h5 class="olp_blog-div-title">{{ data[0] }}</h5>
						<p class="olp_blog-div-text">{% for content in data[1] %}{{ content.summary }}{% endfor %}</p>
					{% endfor %}</div></li>{% endfor %}
				</ul>{% if page.slug != "olympiad" %}
				
				<br />
				<a href="/robot-olympiad/" class="u-cta">Join The Competition</a>{% endif %}
			</div></section>